<html>
	<head>
	    <title>文章查看</title>
        <style>
            .error{
                color:red;
            }
        </style>
	</head>
	<body>
	<p>ID:{{ .ID }}</p>
    <p>Title:{{ .Title }}</p>
    <p>Content:{{ .Content }}</p>
	</body>
</html>